:root {
    color-scheme: light dark;
}

body {
    display: grid;
    place-content: center;
}

pre {
    font-size: 10px;
    overflow: scroll;
    height: 300px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.img {
    margin: 0 auto;
    width: 300px;
    border-radius: 16px;
}

hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}