:root {
    color-scheme: light dark;
}

body {
    display: grid;
    place-content: center;
}

pre {
    font-size: 10px;
    overflow: scroll;
    height: 300px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.img {
    margin: 0 auto;
    width: 300px;
    border-radius: 16px;    
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .img:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }

hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}